<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./../static/css/style1.css">
    <script src="./js/main.js"></script>
</head>
<body>
    <nav>
        <div id="por">
            <h3>Deiver Burbano</h3>
            <h4>Hoja de vida</h4>
            <div id="cen">
                <a href="./"><img src="./../../static/letra-d.png" alt=""></a>
            </div>
        </div>
        <div id="taje">
            <ul>
                <ol><a class="bc" href="./inf">Información Personal</a></ol>
                <ol><a class="bc" href="./educacion">Educación</a></ol>
                <ol><a class="bc" href="./exp">Experiencia Laboral</a></ol>
                <ol><a class="bc" href="./hab">Habilidades</a></ol>
            </ul>
        </div>
    </nav>
</body>
</html>