<%- include('template/header'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/css/style.css">
    <link rel="stylesheet" href="./../static/css/style4.css">
    <title>Document</title>
</head>
<body>
    <h1>EDUCACIÓN</h1>
    <div class="uno">
        <h3>Primaria</h3>
        <img src="./../static/grado.png" alt="">
        <p>Colegio: General Santander de Engativa</p>
        <br>
        <p class="pau">Año:2011-2015</p>
    </div>
    <div class="two">
        <h3>Bachillerato</h3>
        <img src="./../static/prim.png" alt="">
        <p>Colegio: General Santander de Engativa</p>
        <br>
        <p class="pau">Año:2016-2021</p>
    </div>
    <div class="tree">
        <h3>Sena</h3>
        <img src="./../static/diploma.png" alt="">
        <p>Tecnico en Programación</p>
        <br>
        <p class="pau">Año:2020-2021</p>
        
    </div>
</body>
</html>