<%- include('template/header'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/css/style.css">
    <link rel="stylesheet" href="./../static/css/style6.css">
    <title>Document</title>
</head>
<body>
    <div id="un">
        <br>
        <div id="do">
            <img src="./../static/lapiz.png" alt="">
        </div>
        <div id="tr">
            <h1>Habilidades</h1>
            <ul class="lol">
                <ol>Pensamiento critico</ol>
                <ol>Escucha activa</ol>
                <ol>Buena memoria</ol>
                <ol>Creativa</ol>
            </ul>
            <ul class="lo">
                <ol>Autonomia</ol>
                <ol>Trabajo en equipo</ol>
                <ol>Directo</ol>
                <ol>Analisis de datos</ol>
            </ul>
        </div>
    </div>
</body>
</html>