<%- include('template/header'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/css/style.css">
    <title>Portafolio Deiver Burbano</title>
</head>
<body>
    <div class="one">
        <img src="./../static/d.png" class="si">
        <div class="two">
            <p>Hola, mi nombre es Deiver Johan Burbano Castillo.</p>
            <p>Técnico en programación de software, conocimientos en bases de datos,
                lenguajes de programación como PHP, java, HTML, CSS. Manejo de Eclipse y NetBeans, desempeño funciones específicas a mi perfil.  
                En lo personal me describo como una persona autónoma, empírica, efectiva en trabajos de equipo, con buen desempeño bajo presión 
                laboral y un rápido entendimiento a los procesos de trabajo.  
                
            </p>
        </div>
    </div>
</body>
</html>