<%- include('template/header'); %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/css/style.css">
    <link rel="stylesheet" href="./../static/css/style2.css">
    <title>Document</title>
</head>
<body>
    <div id="hum">
        <h1>INFORMACIÓN PERSONAL</h1>
        <img src="./../static/yo.jpeg" alt="">
        <table id="ni" border="0">
        <tr>
            <th class="aa">Nombre</th>
            <th class="aa">Deiver Burbano</th>
            <th class="aa">Edad</th>
            <th class="aa">17 años</th>
        </tr>
        <tr>
            <td class="aa">Nacimiento</td>
            <td class="aa">28/11/04</td>
            <td class="aa">Documento</td>
            <td class="aa">1082746282</td>
        </tr>
        <tr>
            <th class="aa">Correo</th>
            <th class="aa">deivercastillito@gmail.com</th>
            <th class="aa">Tipo Sangre</th>
            <th class="aa">O+</th>
        </tr> 
        <tr>
            <td class="aa">Dirección</td>
            <td class="aa">calle 67 #119b-71</td>
            <td class="aa">sexo</td>
            <td class="aa">Masculino</td>
        </tr>
        <tr>
            <th class="aa">Nacionalidad</th>
            <th class="aa">Colombiana</th>
            <th class="aa">Estado Civil</th>
            <th class="aa">Soltero</th>
    </table>
    </div>
</body>
</html>